<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="/css/style2.css"   media="all" />
<link rel="stylesheet" href="/css/fwslider.css" media="all"/>
<link rel="stylesheet" href="/css/jquery-ui.css" />
<link rel="stylesheet" href="/css/JFFormStyle-1.css" />

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/jquery-ui.min.js"></script>
<script src="/js/lib/jquery-ui-i18n.js"></script>
<script src="/js/lib/css3-mediaqueries.js"></script>
<script src="/js/lib/fwslider.js"></script>
<!-- <script src="/js/lib/JFCore.js"></script> -->
<script src="/js/lib/JFForms.js"></script>
<script src="/js/lib/moment.min.js"></script>

<script src="/js/front/header.js"></script>
</head>
<body>
<div class="header_bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
			<a href="/hotel/"><img src="/images/front/logo.png" alt=""/></a>
		</div>
		<div class="h_right">
			<!--start menu -->
			<ul class="menu">
				<li><a class="home" href="/hotel/">首页</a></li> |
				<li><a class="book-page" href="book-page/">预定房间</a></li> |
				<li><a class="order-search" href="order-search/">订单查询</a></li> |
				<li><a class="about-us" href="about-us/" >关于我们</a></li> |
				<li><a class="contact-us" href="contact-us/" >联系我们</a></li>
				<div class="clear"></div>
			</ul>
		</div>
		<div class="clear"></div>
		<div class="top-nav">
		<nav class="clearfix">
				<ul>
				<li class="active"><a href="/hotel/" class="home">首页</a></li> 
				<li><a href="book-page/" class="book-page">预定房间</a></li> 
				<li><a href="order-search/" class="order-search">订单查询</a></li> 
				<li><a href="about-us/" class="about-us">关于我们</a></li> 
				<li><a href="contact-us/" class="contact-us">联系我们</a></li>
				</ul>
				<a href="#" id="pull">Menu</a>
			</nav>
		</div>
	</div>
</div>
</div>
</body>
</html>