<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reservation</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

</head>
<body>
<!-- start header -->
	<div th:include="fragments/front_header">
    Header
    </div>
<!--start main -->
<div class="main_bg">
<div class="wrap">
	<div class="main" style="padding:9% 2%">
		<div class="res_online">
			<h4>basic information</h4>
			<p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>			
			
	</div>
</div>
</div>		
<!--start main -->
	
<div th:include="fragments/front_footer">
    Footer
</div>
</body>
<script type="text/javascript">
jQuery(document).ready(function() {		
	$(".about-us").parents('li:first').attr("class","active");
});
</script>
</html>