<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hotel</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<script src="/js/lib/jquery.min.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<script src="/js/lib/bootstrap.min.js"></script>

</head>
<body>

	<div class="container" style="margin-top: 15px">
		<div class="col-md-9">
			<div class="col-md-3">预定信息</div>
			<div class="col-md-9"
				style="background-color: #eff6fc; padding: 2%; border-bottom: 1px solid;">
				<p>
					<label>入住日期：</label> <span id="pretime" th:text="${pretime}">2016-03-04</span>
				</p>
				<p>
					<label>退房日期：</label> <span id="posttime" th:text="${posttime}">2016-03-04</span> 
				</p>
				

			</div>
			<div class="col-md-3">个人信息</div>
			<div class="col-md-9"
				style="background-color: #eff6fc; padding: 2%; border-bottom: 1px solid;">
				<p>
					<label>您此行的主要目的：</label> <label class="radio-inline"> <input id="radio1"
						type="radio" name="purpose" value="休闲" checked="checked" /> 休闲
					</label> <label class="radio-inline"> <input id="radio2" type="radio"
						name="purpose" value="商务" /> 商务
					</label>
				</p>
				<p>
				<form class="form-inline">
					<div class="form-group">
						<label for="exampleInputName2">姓名：</label> <input type="text"
							class="form-control" id="name" />
					</div>
				</form>
				</p>
				<p>
				<form class="form-inline">
					<div class="form-group">
						<label for="exampleInputName2">身份证：</label> <input type="text"
							class="form-control" id="indentity" />
					</div>
				</form>
				</p>
				<p>
				<form class="form-inline">
					<div class="form-group">
						<label for="exampleInputName2">手机：</label> <input type="text"
							class="form-control" id="phone" />
					</div>
				</form>
				</p>
				<p>
				<form class="form-inline">
					<div class="form-group">
						<label for="exampleInputName2">邮箱：</label> <input type="email"
							class="form-control" id="email" />
					</div>
				</form>
				</p>
			</div>
			
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">您的选择</h3>
				</div>
				<div class="panel-body">
					<div>
						<input type="hidden" id="room-price"
							th:value="${room.roomtype.price}" /> <input type="hidden"
							id="room-discount" th:value="${room.roomtype.discount}" />
						<p>
							<img src="/images/front/pic2.jpg" class="img-responsive"
								alt="Cinque Terre" />
						</p>
						<p>
							<strong th:text="${room.roomtype.name}">标准单间</strong>
						</p>
						<p>
							单价：<strong id="price" th:text="${room.roomtype.price}"></strong>元
						</p>
						<p>
							天数：<strong id="day" th:text="${day}"></strong>天
						</p>
					</div>
					<div style="background-color: #FFFAED">
						<h3>
							订单总额：<span style="color: #FF6600" id="cost" th:text="${room.roomtype.price*day}">200</span>元
						</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>

		<div class="col-md-12">
			<div class="col-md-offset-4">
				<a type="button" class="btn btn-primary" id="submit-order">确定</a>
				<!-- <button type="submit" class="btn btn-primary">下一步，支付</button> -->
			</div>
		</div>
	</div>
	

	
</body>

<script src="/js/ruzhu.js"></script>
</html>